.hero {
  background-color: #acadcc;
  .container {
    min-height: 500px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    @include rwd(992) {
      min-height: 400px;
    }
  }
  .content {
    background-color: #d0d0d0;
    text-align: center;
    padding: 50px 0px;
    width: 100%;
    h1 {
      margin-top: 0px;
    }
    p {
      margin-bottom: 0px;
      font-size: rem(28);
    }
  }
}
.section__line {
  padding: 100px 0px;
  @include rwd(580) {
    padding: 50px 0px;
  }
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 15px;
    @include rwd(580) {
      grid-template-columns: 1fr 1fr;
    }
  }
  .single {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
    &:nth-child(odd) {
      .line__skew {
        order: 4;
      }
      .desc {
        order: 1;
      }
      .number {
        order: 2;
      }
      .line {
        order: 3;
      }
    }
    &:nth-child(even) {
      position: relative;
      transform: translateY(100%);

      @include rwd(580) {
        transform: translateY(0%);
        margin-top: 0px;
      }
      .line__skew {
        margin-top: -25px;
        order: 1;
        @include rwd(580) {
          order: 4;
          margin-top: 0px;
        }
      }

      .desc {
        order: 4;
        @include rwd(580) {
          order: 1;
        }
      }
      .number {
        order: 3;
        @include rwd(580) {
          order: 2;
        }
      }
      .line {
        order: 2;
        @include rwd(580) {
          order: 3;
        }
      }
    }
    .desc {
      min-height: 70px;
      p {
        margin-top: 10px;
        margin-bottom: 10px;
      }
      br {
        @include rwd(1400) {
          display: none;
        }
      }
    }
    .line__skew {
      height: 25px;
      width: 100%;
      background-color: red;
      transform: skew(-20deg);
    }
    .number {
      p {
        font-size: rem(60);
        margin-top: 10px;
        margin-bottom: 10px;
        line-height: 72px;
      }
    }
    .line {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-bottom: 20px;
      margin-top: 20px;

      .line__line {
        width: 1px;
        height: 40px;
        background-color: red;
      }
      .line__circle {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: red;
        margin-top: 5px;
      }
    }
  }
}
